@model CarRental.ViewModel.LoginViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Sign Up</h2>
<hr />
<form method="post" onsubmit="return false;">
    <div class="form-group">
        <input type="text" placeholder="Enter OTP" />
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
</form>
<button id="goLeft" class="off">Login</button>
<button>Sign up</button>
